<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://assignment2businessproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>assignment2businessproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Assignment2BusinessProject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Assignment2BusinessProject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BusinessEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:x9ttuoenjm.database.windows.net,1433;Initial Catalog=Assignment2BusinessProject_db;User ID=MikeLiu@x9ttuoenjm;Password=Lhl3176577" Name="Data Source=tcp:x9ttuoenjm.database.windows.net,1433;Initial Catalog=Assignment2BusinessProject_db;User Id=MikeLiu@x9ttuoenjm;Password=Lhl3176577" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Business.Models.BusinessEntities, Business" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:x9ttuoenjm.database.windows.net,1433;Initial Catalog=Assignment2BusinessProject_db;User ID=MikeLiu@x9ttuoenjm;Password=Lhl3176577" Name="Data Source=tcp:x9ttuoenjm.database.windows.net,1433;Initial Catalog=Assignment2BusinessProject_db;User Id=MikeLiu@x9ttuoenjm;Password=Lhl3176577" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=x9ttuoenjm.database.windows.net;Initial Catalog=Business;Integrated Security=False;User ID=MikeLiu;Password=Lhl3176577;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=x9ttuoenjm.database.windows.net;Initial Catalog=Business;Integrated Security=False;User ID=MikeLiu;Password=Lhl3176577;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BusinessEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MyModel.csdl|res://*/Models.MyModel.ssdl|res://*/Models.MyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:x9ttuoenjm.database.windows.net,1433;Initial Catalog=Assignment2BusinessProject_db;User Id=MikeLiu@x9ttuoenjm;Password=Lhl3176577"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:x9ttuoenjm.database.windows.net,1433;Initial Catalog=Assignment2BusinessProject_db;User Id=MikeLiu@x9ttuoenjm;Password=Lhl3176577</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>